.cabecera{
height: 200px; ;
background-color: brown;
}
.cabecera img{
background-image: url('img/nombres-para-taller-mecanico.jpg');
}
.cabecera .botones{
float: right;
}
.container{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    list-style: none;
}
.container ul li{
    margin: 10px 10px;
    font-size: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container ul l1 n{
    color: aliceblue;
    text-decoration: none;
}